[submodule "AgenticDAO-App"]
	path = AgenticDAO-App
	url = https://github.com/VisionChainNetwork/AgenticDAO-App
[submodule "AgenticDAO-DIDR"]
	path = AgenticDAO-DIDR
	url = https://github.com/VisionChainNetwork/AgenticDAO-DIDR
[submodule "AgenticDAO-ElizaOS"]
	path = AgenticDAO-ElizaOS
	url = https://github.com/VisionChainNetwork/AgenticDAO-ElizaOS
[submodule "VisionChainNode"]
	path = VisionChainNode
	url = https://github.com/VisionChainNetwork/VisionChainNode
